<!-- all users accepted friends, conditional to show the friends list only on the logged in users profile page -->
<% if current_user %>
<% if profile_path(@current_user.profile_name) == profile_path %>
    <div id="friend-container">
      <% @profile_friendships.each do |friendship| %>
          <% friend = friendship.friend %>
          <% if friendship.accepted? && profile_path(@current_user.profile_name) == profile_path  %>
              <div id="allfriends">
                <%= link_to (gravatar_for friend, size: "60x60"), profile_path(friend.profile_name) %><br/>
                <%= friend.first_name %>
              </div>
          <% end %>
      <% end %>
    </div>
<% else %>
    <div id="friend-container">
      <% @friend_list.each do |friendship| %>
          <% friend = friendship.friend %>
          <% if friendship.accepted? && profile_path(@current_user.profile_name) != profile_path  %>
              <div id="allfriends">
                <%= link_to (gravatar_for friend, size: "60x60"), profile_path(friend.profile_name) %><br/>
                <%= friend.first_name %>
              </div>
          <% end %>
      <% end %>
    </div>
<% end %>
<% else %>

<% end %>
