




  <%= form_for @user_friendship, method: :post do |form| %>
    <div class="form form-actions">
      <%= form.hidden_field :friend_id, value: @friend.profile_name %>
      <%= submit_tag "Connect Me !", class: "btn btn-primary" %>
      <%= link_to "Cancel", current_user, class: "btn btn-warning" %>
    </div>
<% end %>

