
<div id="plain-wrapper">





      <div id="pic-border-green">

        <div id="pic-green">




        </div>
      </div>





      <div id="personal-info">

  Company: <%= @admins.company %><br/>
  Branch:  <%= @admins.branch %><br/>
  Member Since:  <%= @admins.created_at.strftime("%d %b. %Y") %><br/>

</div>
  <hr />
 </div>