<div id="center">
    <p id="intro1"><span>Whoops !</span><br/>
        Nothing to see<br/> on this page</p>
    <p id="subintro1">You may need to<br/>sign up for regular user profile !</p>
    <%= link_to "Home", root_path, class: "green button1" %>
    <!--use this link to return to the current users profile path-->
</div>