



<div id="plain-wrapper">

  <div id="cover">
    <p class="covertext">What percentage of people do not complain about annoyance during a film?</p>
  </div>

  <p id="fact1" >Did You know in a recent survey 65%
    of people do not feel confident enough to report bad behaviour
    during the screening of a movie !
  </p>

  <div id="cover2">
    <p class="covertext">Whats so good about iUsher?</p>
  </div>

  <p id="fact2">
    <b>Good Question !</b><br/>
    No need to miss any of the film if you want to make a complaint,
    just enter some info and a member of staff will attend to the problem.
  </p>

  <div id="cover3">
    <p class="covertext">How does this work ?</p>
  </div>

  <p id="fact3">Register for a profile, it's free and easy, once you
    have a profile you can connect with other users, post messages, and send complaints
    if there is an annoyance during a film.
  </p>

  <div id="cover4">
    <p class="covertext">What could i complain about?</p>
  </div>

  <p id="fact4">Here is a list of what people find annoying during a film.<br/><br/>
    1. Keep talking to a minimum, save the chat for after the film.<br/>
    2. Enjoy your treats quietly, keep rustling to a minimum.<br/>
    3. Keep feet off chairs, remember your fellow cinema-goers have to sit in them.<br/>
    4. No removing of shoes, keep your foot odour confined to your shoes.<br/>
    5. Allocated seating, no sitting in other peoples booked seats.<br/>
    6. No mobile phones, keep all mobile phone use until after the film.
  </p>

</div>


