<div id="center">
  <p id="guide">A quick guide to i Usher</p>
<div id="about-info">

  <div id ="disturbances">
  <h3>Finding complaint feature</h3>
    <%= image_tag ("arrow.png"), id: "arrow", size: '200x100' %>
  <%= image_tag ("profilescreen.PNG"), size: '500x350' %>
</div>
  <h3>What is iUsher ?</h3><br/>
  <p class ="about">i Usher is a great app<br/> to solve the problem of<br/> reporting disturbances<br/> while at the cinema.<br/></p>
   <hr/>
  <h3>How does it work ?</h3><br/>
  <p class="about">Easy. Follow these steps.
  <br/>
  1. Sign up for membership (<%= link_to "it's free !", root_path, id: "red-status" %>)<br/>
  2. Find the complaint tab on your profile<br/>
  3. Submit some information about where you are<br/>
  4. Sit back and watch the film</p>
   <hr/>
  <h3>Why do i need i Usher ?</h3><br/>
  <p class="about">Watch the movie on our home page  <%= link_to " Watch Video", root_path, id:"red-status" %><br/>
  Was any of that familiar ?<br/>
  A recent survey shows 65% of people<br/>
  do not complain about disturbances<br/>
  during a movie.<br/>
  You will never have to leave your seat.
  </p>
  <hr/>
  <h3>Why do people not complain?</h3><br/>
  <p class="about">
  No one wants to leave and miss some of the movie<br/>
  to make a complaint.<br/>
  People do not want to cause a fuss.

  </p>
</div>
</div>


