<h2>Rules of Posting</h2>
 <div id="rules">
  <p>Be nice, no hassle or bullying allowed</p><br/>
  <p>It's a movie site, so keep it all about the movie talk</p><br>
  <p>No movie spoilers, Don't be that guy !</p><br/>
  <p>When watching a movie use iUsher for complaints only</p><br/>
 </div>

<div id="edit-complaint">
<%= render 'form' %>

<%= link_to 'Back', profile_path(current_user.profile_name) %>
</div>

