// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


#post-seperate{
  width: 350px;
  border-bottom: 2px solid #808080;
  margin:40px 300px 20px 350px;
}

#adminpost{
  height: 400px;
  width: 720px;
  overflow: auto;

}

#like-list {
  position: absolute;
  width:270px;
  margin: 160px 0px 20px 750px;
  padding-top:5px;
  padding-left:10px;
  border: 1px solid #d3d3d3;
  -webkit-border-radius:5px;
  background-color: #f5f5f5;
  color: #2f4f4f;
}

a:visited{
  color: white;
}

a:link{
  color: white;
}

#connectad {
  position:absolute;
  margin: 80px 620px 5px 15px;

}

#like{
  position:relative;
  margin: -20px 620px 5px 45px;
  font-size:1.3em;
  font-weight:bold;
  color:cadetblue;

}
