// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


#post-seperate{
  width: 350px;

  margin:40px 300px 20px 350px;
}

#adminpost{
  height: 400px;
  width: 720px;
  overflow: auto;

}

a:visited{
  color: white;
}

a:link{
  color: white;
}

#connectad {
  position:absolute;
  margin: 80px 620px 5px 15px;

}

#like{
  position:relative;
  margin: -20px 620px 5px 45px;
  font-size:1.3em;
  font-weight:bold;
  color:cadetblue;
}

#logo-size{
 margin-right:10%
}

#personal-info1 {
  position:absolute;
  top:23%;
  left:25%;
  width:25%;
  height:15%;
  font-family:tahoma;
  font-size: 1.2em;
  color:#000000;
  padding-top:0.5em;
  padding-right:1em;
  padding-bottom:0.5em;
  padding-left:1em;
  border:0.5em solid white;
  border-radius:1em;
  background-color: ghostwhite;

}

#info-text1{
  position:absolute;
  margin-top:-25%;
  margin-left:30%;
}
