// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


#post-seperate{
  width: 350px;
  margin:40px 300px 20px 350px;
}

#adminpost{
  height: 400px;
  width: 720px;
  overflow: auto;

}

a:visited{
  color: white;
}

a:link{
  color: white;
}

#connectad {
  position:absolute;
  margin: 80px 620px 5px 15px;

}

#latest-film {
  position: absolute;
  width:350px;
  margin-top:7%;
  margin-left:20%;
  padding-top:5px;
  padding-left:10px;
  border: 1px solid #d3d3d3;
  -webkit-border-radius:5px;
  background-color: #f5f5f5;
  color: #2f4f4f;
}

#logo-size{
 margin-right:10%
}

#personal-info1 {
  position:absolute;
  top:23%;
  left:25%;
  width:25%;
  height:15%;
  font-family:tahoma;
  font-size: 1.2em;
  color:#000000;
  padding-top:0.5em;
  padding-right:1em;
  padding-bottom:0.5em;
  padding-left:1em;
  border:0.5em solid white;
  border-radius:1em;
  background-color: ghostwhite;

}

#info-text1{
  position:absolute;
  margin-top:-25%;
  margin-left:30%;
}


#video-border1{
  position:absolute;
  margin-top:10%;
  margin-left:20.2%;
  padding-left:1%;
  padding-right:1%;
  padding-bottom:1%;
  border:1em solid darkorange;
  width:20%;
  background-image: url('orangegrad.png');
}


