/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#plain-wrapper {
    width:1100px;
    height:800px;
    margin-top: 0px;
    margin-left: 60px;
    z-index: 10000;

}

body{


    width:1000px;
    height:700px;
    background-color: #f5f5f5;
    margin-left:120px;


}


#nav {


    width:1025px;
    height:60px;
    margin-left: 60px;


}

#login {
    position:absolute;
    margin:55px 0px 800px 1090px;
    display:inline;
    border:1px solid green;
    padding:10px;
    -webkit-border-radius: 10px;
    background-image: url("signin-grad2.png");
    color:white;
    font-size: 15px;

}



#nav li {
    display: inline;


}

#nav li a {

    font-size:5px;
    text-decoration: none;
    float:right;
    padding: 10px;


}

#nav li a:hover {

    margin-top:-2px;
    padding-bottom:8px;
}

