/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html,body{
  width:100%;
  height: 100%;
  font-size:16px;
  top:0;
  padding:0;
}


#push-down{
  position:absolute;
  margin-top:2%;
  width:60%
}
#header{
  background-image:url("greygrad.jpg");
  height:150px;
}


#nav {
    width:100%;
    background-color:cadetblue;
    height:70px;
    border-bottom:10px solid #d3d3d3;
}

#users-index{
    margin-top:10px;
    margin-left: 220px;
}

#logo {
    position:relative;
    top:5px;
    margin-right:75%;
}


#nav li {
    position:relative;
    display: inline;
    padding:0.5%;


   }

#nav li a {
    font-size:5px;
    text-decoration: none;

}

#intro {
    position:absolute;
    margin-left:20px;
    color: #000;
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 3.2em;
    line-height: 1;
}

#intro1 {
  position:absolute;
  margin-left:10%;
  margin-top: 10%;
  color: #000;
  font-family: 'BebasNeueRegular',sans-serif;
  font-size: 3.2em;
  line-height: 1;
}

#intro1 span{
  color: cadetblue;
  font-family: 'BebasNeueRegular',sans-serif;
  font-size: 1.4em;
  line-height: .8;
}

#subintro {
    position:relative;
    margin-top:130px;
    margin-left:20px;
    color: cadetblue;
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 1.9em;
    line-height: .8;
}

#subintro1 {
  position:absolute;
  margin-top:20%;
  margin-left:10%;
  color: cadetblue;
  font-family: 'BebasNeueRegular',sans-serif;
  font-size: 1.9em;
  line-height: .8;
}



#footer {
  position:relative;
  background-image:url("greygrad.jpg");
  height:100px;
  color:white;
  margin-top:8%;
  margin-bottom: 0;
  width:100%;
  border-top:1.3em solid dimgray;
}

#copyright {
    position:absolute;
    margin-left:40%;
    float:left;
    color: white;

}

//styles for cinema logos ----------------------
#cinemas{
    position:relative;
   width:8%;
    top: 50px;
    left: 2%;
    padding-bottom:5px;
    z-index: 20;


}

#cinema-text {
    color: white;
    font-size: 1.5em;
}

.connectPulse{
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
.connectbuddy {

  -webkit-animation-name: connectPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-border-radius: 8px;
  background-color: #7cfc00;
  font-size: 1em ;
  font-family: arial;
  color:white;
  padding: 0.5em;
  text-decoration:blink;
  width:5%;


}


.buddyconnected {

  -webkit-animation-name: connectPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-border-radius: 8px;
  background-color: green;
  font-size: 1em ;
  font-family: arial;
  color:white;
  padding: 0.5em;
  text-decoration:none;
  width:5%;

}


#rules p {
  position:absolute;
  line-height: 1.2;
  margin-left:50%;
  margin-top:4%;
  font-family: tahoma;
  font-size: 2em;
  width:15%;
  height:50%;

}

#rulehead{
  postion:absolute;
  margin-left:50%;

}

#logo{
  color:white;
  margin-left:5%;
  font-size:3em;
  font-family: tahoma;

}














