/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html,body{
  width:100%;
  height: 100%;
  font-size:16px;
  margin:0;
  padding:0;

}



#header{
  background-image:url("greygrad.jpg");
  height:150px;
}



#plain-wrapper {
    width:80%;
    height:px;
    margin-top: 20px;
    margin-left: 60px;

}

#main_wrapper {
    position:absolute;
    width:1100px;
    height:700px;
    margin-top: 0px;
    margin-left: 30px;
    border: 2px solid #808080;
    background-image: url("bluebg1.jpg");
    background-repeat:no-repeat;
    -webkit-border-radius: 10px;
    z-index: 10000;
}

#nav {
    width:100%;
    background-color:cadetblue;
    height:60px;
    border-bottom:10px solid #d3d3d3;

}

#users-index{
    margin-top:10px;
    margin-left: 220px;
}

#logo {
    position:relative;
    top:5px;
    margin-right:75%;
}


#nav li {
    display: inline;


}

#nav li a {
    font-size:5px;
    text-decoration: none;
    padding: 10px;


}


#intro {
    position:absolute;
    margin-left:20px;
    color: #000;
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 3.2em;
    line-height: 1;
}

#subintro {
    position:relative;
    margin-top:130px;
    margin-left:20px;
    color: cadetblue;
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 1.9em;
    line-height: .8;
}
//posts scrollbar------------------------------



//styles for info pages ----------------------------------
#fact1 {
    position:absolute;;
    background-color: lightblue;
    -webkit-border-radius:10px;
    color:white;
    font-size:1.5em;
    font-family:"calibri";
    padding:20px;
    top: 20px;
    right: 750px;
    bottom: 490px;
    left: 100px;
}

#fact2{
    position:absolute;;
    background-color: lightblue;
    -webkit-border-radius:10px;
    color:white;
    font-size:1.5em;
    font-family:"calibri";
    padding:20px;
    top: 170px;
    right: 300px;
    bottom: 390px;
    left: 400px;

}



#cover{
    position: absolute;
    border: 2px solid gray;
    background-color:greenyellow;
    -webkit-border-radius: 10px;
    top: 20px;
    right: 750px;
    bottom: 500px;
    left: 100px;
    z-index:50000;
    cursor:pointer;

}

#cover2 {
    position: absolute;
    border: 2px solid gray;
    background-color:greenyellow;
    -webkit-border-radius: 10px;
    top: 170px;
    right: 300px;
    bottom: 390px;
    left: 400px;
    z-index:50000;
    cursor:pointer;
}

.covertext {
    postion:absolute;
    margin-top: 50px;
    margin-left:10px;
    z-index:50002;
    color: white;
    font-family: Arial;
    font-size: 1.5em;
    border-radius: 5px;

}


#fact1 {
    position:absolute;;
    background-color: lightblue;
    -webkit-border-radius:10px;
    color:white;
    font-size:1.5em;
    font-family:"calibri";
    padding:20px;
    top: 20px;
    right: 750px;
    bottom: 490px;
    left: 100px;
}

#fact2{
    position:absolute;;
    background-color: lightblue;
    -webkit-border-radius:10px;
    color:white;
    font-size:1.5em;
    font-family:"calibri";
    padding:20px;
    top: 170px;
    right: 300px;
    bottom: 380px;
    left: 400px;

}

#fact3 {
    position:absolute;;
    background-color: lightblue;
    -webkit-border-radius:10px;
    color:white;
    font-size:1.5em;
    font-family:"calibri";
    padding:20px;
    top: 350px;
    right: 750px;
    bottom: 140px;
    left: 100px;
}

#cover3 {
    position: absolute;
    border: 2px solid gray;
    background-color:greenyellow;
    -webkit-border-radius: 10px;
    top: 350px;
    right: 750px;
    bottom: 150px;
    left: 100px;
    z-index:50000;
    cursor:pointer;
}

#fact4 {
    position:absolute;;
    background-color: lightblue;
    -webkit-border-radius:10px;
    color:white;
    font-size:1.5em;
    font-family:"calibri";
    padding:20px;
    top: 350px;
    right: 50px;
    bottom: 90px;
    left: 480px;
}

#cover4 {
    position: absolute;
    border: 2px solid gray;
    background-color:lightblue;
    -webkit-border-radius: 10px;
    top: 350px;
    right: 50px;
    bottom: 100px;
    left: 480px;
    z-index:50000;
    cursor:pointer;
}

#footer {
  position:absolute;
  background-image:url("greygrad.jpg");
  height:100px;
  color:white;
  margin-top:5%;
  margin-bottom: 0;
  width:100%;
  border-top:1.3em solid dimgray;
}

#copyright {
    position:absolute;

    margin-left:530px;
    float:left;
    color: white;

}

//styles for cinema logos ----------------------
#cinemas{
    position:relative;
   width:8%;
    top: 50px;
    left: 2%;
    padding-bottom:5px;
    z-index: 20;


}

#cinema-text {
    color: white;
    font-size: 1.5em;
}















