// Place all the styles related to the Complaints controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Place all the styles related to the Complaints controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


#complaint-form{
  position:relative;
  margin-top: 60px;
  margin-left: 60px;
  height:420px;
}

#complaint-logo{
  position:absolute;
  margin-top:1%;
  margin-left:5%;
  background-image: url("bluewhitedot.jpg");
  border-radius:1em;
  width:10%;
  height:20%;
  padding-top:1%;
  padding-left:2%;
  padding-right:1%;
  color:white;
  font-family: tahoma;
}

#complaint-index {
  margin-top:50px;
  margin-left:20px;

}

#show-complaint{
  font-size:3em;
  color:white;
  height:60%;
  width:20%;
  margin-top:5%;
  margin-left:15%;
  background-color: #808080;
  padding:2%;

}

#edit-complaint{
  margin-top:5%;
  margin-left:15%;
  width:30%;
  height:60%;
}

#report {
  margin-top:40px;
  margin-left:60px;
}

#complaint-list {
  position: relative;
  margin-top: 2%;
  margin-left:22%;


}

h1 {
  position:absolute;
  color: cadetblue;
  margin-top:1%;
  margin-left:14.5%;
}

.list_line_even {
  background: #d3d3d3;

}
.list_line_odd {
  background: ghostwhite;

}

table {
  right:50px;
  border-collapse: collapse;

}
table tr td  {
  padding: 10px 20px 10px 25px;
  vertical-align: top;

}

a:link{
  color:#2f4f4f;
}

#orange-status{
  color:darkorange;
}

#green-status{
  color:green;
}

#red-status{
  color:#ff0000;
}

#bluestatus{
  color:cadetblue;
}
