// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main_wrapper {
  width:1100px;
  height:800px;
  margin-top: 0px;
  margin-left: 60px;
  background-image: url("signup2.png");
  background-repeat:no-repeat;
  z-index: 10000;

}

#plain_wrapper {
  width:1100px;
  height:800px;
  margin-top: 0px;
  margin-left: 60px;
  z-index: 10000;

}



#form-container {
  margin-left:50px;
  font-family:helvetica;
  font-size: 15px;
  padding-top:35px;
}


#nav li {
  display: inline;


}

#nav li a {
  font-family: helvetica;
  font-size:20px;
  text-decoration: none;
  float:right;
  padding: 10px;

  color: #fff;
}

#nav li a:hover {

  margin-top:-2px;
  padding-bottom:12px;
}

h2 {
  font-family: moiser;
  font-size: 40px;
  color:white;
  padding-top:30px;
  margin-left:50px;

}



#pic-border-green {

  height:90px;
  width:90px;
  background-color: #ff0000;
  -webkit-border-radius: 4px;
  margin-top:50px;
  margin-left:60px;
}

#pic-border-green {
  position: absolute;
  top:60px;
  height:90px;
  width:90px;
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  -webkit-border-radius: 4px;
  margin-top:10px;
  margin-left:60px;
}

#pic-green {
position:absolute;
top:1px;
margin:5px;

}


#pic-red {
  position:absolute;
  margin:5px;

}

#personal-info {
  position:absolute;
  top:65px;
  right:265px;
  left:180px;
  font-family:arial;
  font-size: 0.75em;
  font-weight: lighter;

}

hr {
  position:relative ;
  top:20px;
  left: 60px;
}

.left-60 {
  position:absolute;
  left:60px;
}

#userposts {
  position:absolute;
  top:250px;
  left:60px;

}

#post-seperate{
  border-bottom: 1px solid #808080;
  margin:10px 250px 20px 340px;

}

#talking {
  margin: 37px 250px 20px 340px;
  padding-top:5px;
  padding-left:10px;
  border: 1px solid #d3d3d3;
  -webkit-border-radius:5px;
  background-color: #f5f5f5;
  color: #2f4f4f;
}

#friend-list {
  position: absolute;
  width:270px;
  margin:-55px 0px 20px 780px;
  padding-top:5px;
  padding-left:10px;
  border: 1px solid #d3d3d3;
  -webkit-border-radius:5px;
  background-color: #f5f5f5;
  color: #2f4f4f;
}

a:visited {
  color:white;
}

#connect {
  position:relative;
  margin: 25px 650px 5px 60px;
}



