// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/



#all-users{
  position:relative;
  margin-top:-60px;
  left:-25px;
}


p {
  font-family:"calibri";
  font-weight:bold;
}

#center {
  min-height:600px;
  height:auto !important;
  height:600px;
}


#form-container {
  position: absolute;
  top: 18%;
  bottom:0%;
  left: 70%;
  font-family:helvetica;
  font-size: 15px;
  padding-top:35px;

}


#nav li {
  display: inline;
}

#nav li a {
  position: relative;
  left: 60px;
  font-family: "calibri";
  font-size:18px;
  text-decoration: none;
  color: white;
}

#nav li a:hover {

  margin-top:-2px;
  padding-bottom:12px;
}

h2 {
  font-family: moiser;
  font-size: 30px;
  color:cadetblue;
  padding-top:30px;
  margin-left:1050px;

}

h3 {
  color: cadetblue;
  top: 10px;
}




#personal-info {
  position:absolute;
  top:15px;
  right:365px;
  left:140px;
  font-family:arial;
  font-size: 0.75em;
  font-weight: lighter;

}



.left-60 {
  position:absolute;
  left:60px;
}

#userposts {
  position:absolute;
  top:200px;
  left:10px;

}

#post-seperate{


}

#search{
  position: relative;
  margin-top:30px;
  margin-left: 780px;
  z-index:10;
}

#edit{
  color: darkblue;
}
#talking {
  position: absolute;
  width:350px;
  margin-top:7%;
  margin-left:50%;
  padding-top:5px;
  padding-left:10px;
  border: 1px solid #d3d3d3;
  -webkit-border-radius:5px;
  background-color: #f5f5f5;
  color: #2f4f4f;
}

#friend-list {
  position: absolute;
  width:350px;
  margin-top:7%;
  margin-left:20%;
  padding-top:5px;
  padding-left:10px;
  border: 1px solid #d3d3d3;
  -webkit-border-radius:5px;
  background-color: #f5f5f5;
  color: #2f4f4f;
}

//

#login1 {
  position:absolute;
 margin-top: -38%;
 margin-left:63%;
  width:15%;

}


#login2{
  position:absolute;
 margin-top:-37.5%;
 margin-left:80%;
  width:20%;


}

.logintext{
  position:relative;
  margin-top:-10%;
  margin-left:2%;
  color:white;
}

#connect {
  position:absolute;
  margin-top:-6%;
  margin-left:23.1%;
  color: white;
}

@-webkit-keyframes greenPulse {
  from { background-color: cadetblue; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: lightblue; -webkit-box-shadow: 0 0 18px #333; }
  to { background-color: cornflowerblue; -webkit-box-shadow: 0 0 9px #333; }
}
.green.button {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-border-radius: 8px;
  background-color: cadetblue;
  font-size: 20px ;
  font-family: arial;
  color:white;
  padding: 3px;
  width:300px;
  text-decoration: none;
  padding:10px 15px 10px 15px;


}

#paginate {
  position: relative;
  left: 270px;
  color: darkblue;
  width:20%;
  margin-top:8%;
}

a:link, a:hover, a:visited{
  color:white
}

.tweet span {

  color: #000;
  font-family: 'BebasNeueRegular',sans-serif;
  font-size: 36px;
  line-height: .8;
}

#video{
  position:absolute;
  margin-top:-8%;
  margin-left:28%;
  max-width:100%;
}

#video-border{
  position:absolute;
  margin-top:-7%;
  margin-left:32.5%;

}

#video1{
  max-width: 100%;
}











