<div id="footer">

   | <%= link_to 'Register', root_path  %>
   | <%= link_to ' About', about_path  %>
   | <%= link_to 'Contact Us', contact_path  %>
   | <%= link_to 'Cinema login', adminsonly_path  %> |

</div>
<p id="copyright">Copyright Paul Mannion 2013</p>